
    .premium
    {
        display: none;
    }
    /*input[type="file"] {
    display: none;
}*/
#imgl{
    background-color: #0099cc;
    padding: 8px;
    color: white;
    border: 2px solid #9ec3ff;
    border-radius: 9px;
    margin: 20px;
}
#imgl:hover
{
    background-color: #00ccff;

}
.x{padding:20px;}
form
{   
/*background-image: linear-gradient(to bottom, #e4efff, #edf2ff, #f4f6ff, #fafaff, #ffffff);*/
background-color: #f7f7f7;
	
	border: 1px solid #aaa;
	border-radius: 10px;

            padding: 40px;
      box-shadow: 20px 20px 80px 0px #ddd;
}
.y/*les champs nom ....*/
{ 
    margin-bottom: 15px;
     margin-top: 15px;
}
.p{ /*icon*/
    background-color: #187cc2;
    color:#fff;
}

    

h1
{
    font-size: 200%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload1 #img-upload2 #img-upload3{
    
    
    width: 100%;
 
}

/*switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide  checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.im{
    display: none;
}

#label_down {
     
     font-size: 18px;
     padding-left: 10px;
     padding-right: 10px;
     font-style: italic;
}
#down
{
    font-size: 15px;
      background-color:#00ace6;
  border: none;
  color: white;
  padding: 10px 11px;
  cursor: pointer;
  border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: relative;
  left: 45px;

 
}
#down:hover{background-color: #4dd2ff;}
.down{margin-top:  15px;margin-bottom: 15px;}
.error_premium
{
    color: red;
    font-size: 12px;
    position: relative;
   
    bottom: 13px;
}
.label_champs
{
     font-size: 18px;
     margin-bottom: 10px;
}
.avatar
{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: auto;
    
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
input[type=file]:required{display: none;}